<header>
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fa-solid fa-s"></i>
            <a href="">Daily Styling Planner</a>
        </div>
        <ul class="navbar__menu">
            <li><a href="">옷장</a></li>
            <li><a href="">의류 추가</a></li>  
            <li><a href="" target="_blank">오늘의 옷</a></li>
            <li><a href="">날씨 정보</a></li>
        </ul>
        <a href="#" class="navbar__toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</header>