<header>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/dadff06e40.js" crossorigin="anonymous"></script>
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fa-solid fa-s"></i>
            <a href="">Daily Styling Planner</a>
        </div>
        <ul class="navbar__menu">
            <li><a href="">옷장</a></li>
            <li><a href="">의류 추가</a></li>  
            <li><a href="" target="_blank">오늘의 옷</a></li>
            <li><a href="">날씨 정보</a></li>
        </ul>
    </nav>
</header>