

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Styling Planner</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<script>
    $(document).ready(function() {
        $('.items').on('wheel', function(event) {
            let scrollDistance = event.originalEvent.deltaY * 1;
            this.scrollLeft += scrollDistance;
            event.preventDefault();
        })
        $('.spring').click(function(){
            $('.navbar').css('background-color', '#FDCEDF');
            $('body').css('background-color', '#F8E8EE');
            $('.items').css('background-color', '#F9F5F6');
        })
        $('.summer').click(function(){
            $('.navbar').css('background-color', '#62CDFF');
            $('body').css('background-color', '#97DEFF');
            $('.items').css('background-color', '#C9EEFF');
        })
        $('.autumn').click(function(){
            $('.navbar').css('background-color', '#ECCDB4');
            $('body').css('background-color', '#F0EDD4');
            $('.items').css('background-color', '#F9FBE7');
        })
        $('.winter').click(function(){
            $('.navbar').css('background-color', '#526D82');
            $('body').css('background-color', '#9DB2BF');
            $('.items').css('background-color', '#DDE6ED');
        })
    })
</script>
<body>
<%- include('header') %>
<!-- Buttons -->
<section class="sort__nav">
    <div class="sort__type">
        <span class="title__type">종류별</span>
        <button class="btn typeBtn top" data-key="kind" data-value="top">
            Top
        </button>
        <button class="btn typeBtn pants" data-key="kind" data-value="pants">
            Pants
        </button>
        <button class="btn typeBtn shoes" data-key="kind" data-value="shoes">
            Shoes
        </button>
    </div>
    <div class="sort__weather">
        <span class="title__weather">계절별</span>
        <button class="btn weatherBtn spring" data-key="weather" data-value="spring">
            Spring
        </button>
        <button class="btn weatherBtn summer" data-key="weather" data-value="summer">
            Summer
        </button>
        <button class="btn weatherBtn autumn" data-key="weather" data-value="autumn">
            Autumn
        </button>
        <button class="btn weatherBtn winter" data-key="weather" data-value="winter">
            Winter
        </button>
    </div>
</section>

<!-- Items -->
<div class="items__container">
    <ul class="items">
        <% for(var item of items){ %>
            <li>
                <img class = "item__thumbnail" src="<%= item.image %>" alt="">
            </li>
        <% } %>    
    </ul>   
</div>
</body>
</html>
