<head>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c3e97252f5120b7adcea1dc028e0153c"></script>
</head>
<body>
    <%- include('header') %>
    <div id="map" style="width:500px;height:400px;"></div>
</body>

<script src="/js/map.js"></script>