<head>
  <script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c3e97252f5120b7adcea1dc028e0153c"
  ></script>
  <link rel="stylesheet" href="/css/loader.css" />
  <link rel="stylesheet" href="/css/temperature.css" />
</head>
<body>
  <%- include('header') %>
  <div class="wrapper">
    <span id="map-loader"></span>
    <div class="content">
      <div id="map"></div>
      <div class="text">
        <h4>사용자님이 현재 위치한곳의</h4>
        <h3>현재 기온은 <span class="temp"></span></h3>
        <h3>체감 온도는 <span class="feels_like"></span></h3>
        <h4>입니다.</h4>

        <span>너무 더운 날씨 얇은 옷차림을 입는 것이 좋을 것 같습니다.</span>

        <button class="recommend__btn">내 옷장에서 추천해줘!</button>
      </div>
    </div>
  </div>
</body>

<script src="/js/temperature.js"></script>
<script src="/js/map.js"></script>
